p {
    margin: 0;
}

.taggy {
    border: 1px solid #bdc3c7;
    border-radius: 3px;
    cursor: text;
    max-width: 200px;
    min-height: 20px;
    display: flex;
    font-size: 13px;
    position: relative;
}

.input-section {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

input {
    border: none;
    padding: 0;
    padding-left: 2px;
    margin: 2px 0;
    flex: 1;
    min-width: 20px;
    font-size: 1em;
}

input::placeholder {
    color: #bdc3c7;
}

input:focus {
    outline: none;
}

.tag {
    background-color: #e74c3c;
    border-radius: 3px;
    color: #ecf0f1;
    display: inline-flex;
    align-items: center;
    padding: 2px 4px;
    font-size: 12px;
    margin: 2px;
}

.tag-delete {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin-left: 4px;
    border-radius: 3px;
}

.tag-delete:hover {
    background-color: #c0392b;
}

.tag-delete i {
    height: 14px;
    font-size: 14px;
}

.control-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
}

.control-section-icon {
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    height: 16px;
    justify-content: center;
    width: 16px;
}

.control-section-icon i {
    font-size: 14px;
}

.tag-list {
    background-color: white;
    border: 1px solid #bdc3c7;
    border-radius: 3px;
    position: absolute;
    font-size: 14px;
    height: 100px;
    overflow-y: scroll;
    left: -1px;
    top: 22px;
    width: 100%;
}

.tag-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tag-list ul li {
    padding: 5px;
}

.tag-list ul li:hover {
    cursor: pointer;
    background-color: #bdc3c7;
}